body{
   background: url("/resources/jpg/study.jpg");
}
.pageContent{
    width: 80%;
    margin: auto;
    background-color: #ffffff;
}

/*************HEADER*****************/
.headerContent{
    border-bottom: 1px solid #96ec9e;
}
#header{
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
#authorization{
    min-width: 200px;

}
.menu{
    display: flex;
}
.siteName{
    font-size: 24px;
}
.menu div{
    padding: 10px 18px;
    background-color: rgba(21, 118, 76, 0.16);
    cursor: pointer;
    border-left: 1px solid #96ec9e;
}
.menu div:hover{
    background-color: rgba(44, 249, 159, 0.16);
}
a{
    text-decoration: none!important;
    color: #132b09;
}
/************MAIN CONTENT***************/
#mainContent{
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 10px;
}

.bookCard{
    border: 1px solid #132b09;
    border-radius: 5px;
    padding: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-right: 20px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.bookCard .button{
    width: 90%;
}
.bookCard .bookName{
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
}
.bookDescription{
    font-style: italic;
}

/*************FOOTER**************/
#footer{
    text-align: center;
}



