<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1 th:if = "${showCurrentReserves}">All reserves in base</h1>
    <h1 th:if = "${showCurrentReserves}==false">Current reserve in base</h1>
    <table>
        <tr th:each = "reserve:${allReserves}">
            <td>
                <label th:text = "${reserve.getNumber()}"></label>
            </td>
            <td>
                <label th:text = "${reserve.getUser().getUsername()}"></label>
            </td>
            <td>
                <label th:text = "${reserve.getBook().getName()}"></label>
            </td>
            <td>
                <form th:if="${isReserve}" th:action="@{/realizeReserve(number=${reserve.getNumber()},book=${reserve.getBook().getId()},user=${reserve.getUser().getId()})}" th:method="post">
                    <button type="submit">Выдать книгу</button>
                </form>
                <form th:if="${isReserve}" th:action="@{/deleteReserve(number=${reserve.getNumber()},book=${reserve.getBook().getId()},user=${reserve.getUser().getId()})}" th:method="post">
                    <button type="submit">Убрать резерв</button>
                </form>
                <form th:unless="${isReserve}" th:action="@{/realizeOrder(number=${reserve.getNumber()},book=${reserve.getBook().getId()},user=${reserve.getUser().getId()})}" th:method="post">
                    <button type="submit">Принять книгу</button>
                </form>
                <form th:unless="${isReserve}" th:action="@{/deleteOrder(number=${reserve.getNumber()},book=${reserve.getBook().getId()},user=${reserve.getUser().getId()})}" th:method="post">
                    <button type="submit">Удалить заказ</button>
                </form>
            </td>
        </tr>
    </table>

    <form action="/getCurrentReserves" th:if = "${showCurrentReserves}" method="get">
        <button type="submit">Show current reserves</button>
    </form>
    <form action="/allReserves" th:if = "${showCurrentReserves}==false" method="get">
        <button type="submit">Show all reserves</button>
    </form>

    <br>
    <a href="/">Go to main page</a>
</body>
</html>