<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/resources/css/style.css">
    <script src="/resources/js/script.js"></script>

</head>
<body style="margin: 0%;">

    <div id="header">
        ШАПКА
        <p sec:authorize="isAuthenticated()" th:text = "${#authentication.name}"></p>

        <div id = "autorization">
             <div sec:authorize="isAuthenticated()==false" id="enter" onclick="enter()">
                Enter
            </div>
            <div sec:authorize="isAuthenticated()==false" id="register" onclick="register()">
                Registration
            </div>
            <form sec:authorize="isAuthenticated()" th:action="@{/logOut}" method="post">
                <input type="submit" value="Sing Out">
            </form>
        </div>

        <a style="color: red" href="/users">Show all users</a>
        <a style="color: red" href="/getCurrentReserves">Show all reserves</a>
        <a style="color: red" href="/getCurrentOrders">Show all orders</a>
        <a style="color: red" href="/myReserves">My reserves</a>
        <a style="color: red" href="/myOrders">My orders</a>
        <a style="color: red" href="/allBooks">All books</a>
    </div>
    <div id="content">
        <div id="category">
            category
        </div>
        <div id="goods">
            goods
            <div id="countGoods">
                <select id="goodsCount" name="goodsCount" onchange="refreshWithSelect()">
                    Показать
                    <option value="five">five</option>
                    <option value="ten">ten</option>
                    <option value="twelve">twelve</option>
                </select>
            </div>
            <div id="goods-flex">
                <div th:each ="good:${allGoods}" class="good">
                    <p th:text = "${good.getName()}"></p>
                    <p th:text = "'В наличии:' + ${good.getBookCount()}"></p>
                    <form sec:authorize="isAuthenticated()" th:action="@{/reserveBook/{id}(id=${good.getId()})}" method="post">
                        <input type="submit" value="Забронировать">
                    </form>
                    <form sec:authorize="hasAnyAuthority('admin:read')" th:action="@{/deleteBookAndGoMain/{id}(id=${good.getId()})}" method="post">
                        <input type="submit" value="Удалить книгу из базы">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        footer
            <a href="/goods/1">Первая</a>
            <a th:if = "${prevPage}>=1" th:href="'/goods/' + ${prevPage}">Предыдущая</a>
            <a th:if = "${nextPage}<=${page}" th:href="'/goods/' + ${nextPage}">Следующая</a>
            <a th:href= "'/goods/' + ${page}">Последняя</a>
            <h1 th:text = "'Страница' + ${currentPage}"></h1>

    </div>

    
</body>
</html>