<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/resources/css/authenticationFormsStyle.css">
    <link rel="stylesheet" href="/resources/css/constantsStyle.css">
    <script src="/resources/js/script.js"></script>


</head>
<body>
<form method="post" action="/login"class="enterContainerForm">
    <div id="enterContainer">
        <p class="errorText" th:if="${param.error}">Неверное имя пользователя или пароль</p>
        <div class="formData"><input id="login" name="login" placeholder="login"></div>
        <p th:if="${param.logOut}">Вы успешно вышли</p>
        <div class="formData"><input id="password" name="password" type="password" placeholder="password"></div>
        <div>
            <input type="submit" class="button" value="Enter">
            <input type="button" class="button" value="Cancel" onclick="backToMainPage()">
        </div>
        <a href="/register" class="wantToReg">want to register?</a>
    </div>
</form>
</body>
</html>