<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="/resources/css/style.css">
    <link rel="stylesheet" href="/resources/css/constantsStyle.css">
    <link rel="stylesheet" href="/resources/css/authenticationFormsStyle.css">
    <script src="/resources/js/script.js"></script>

</head>
<body>
<form th:method="POST" th:action="@{/register}" th:object="${user}" class="enterContainerForm">
    <div class="pageName">REGISTRATION</div>
    <div id="enterContainer">
        <div><input id="login" th:field="*{username}"></div>
        <div><input id="password" type="password" th:field="*{password}"></div>
        <div>
            <input type="submit" class="button" value="Register">
            <input type="button" class="button" value="Cancel" onclick="backToMainPage()">
        </div>
    </div>
</form>


</body>
</html>